.add-note {
    border: 1px solid #aaa;
    width: 250px;
    border-radius: 0.8em;
    box-shadow: 0 0 3px 1px #aaa;
    margin-bottom: 25px;
}

/* OPEN NOTE EDITOR */

.add-note h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 1px 0px 1px #aaa;
}

.add-note h4:hover {
    color: #BF6C3B;
}

/* BUTTOM TOGGLE NOTE EDITOR */

.unshowen-checkbox {
    display: none;
}

#display-editor:checked+.editor-display {
    display: block;
}

#display-editor:not(:checked)+.editor-display {
    display: none;
}

.add-note li img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.add-note input:focus-visible, .add-note textarea:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

/* NOTE TITLE */

.note-title {
    border: 0;
    text-align: center;
    font-family: montserrat;
    font-size: 1.187rem;
    margin-bottom: 10px;
}

/* NOTE DESCRIPTION */

.add-note textarea {
    max-width: 230px;
    min-width: 230px;
    min-height: 90px;
    border: 0;
    font-family: montserrat;
    font-size: 0.85rem;
    margin-bottom: 15px;
}

.save-note {
    align-self: flex-end;
    margin-bottom: 15px;
    font-family: montserrat;
    font-size: 0.85rem;
    color: #BF6C3B;
    border: 1px solid #B8BEBF;
    border-radius: 0.5em;
    margin-right: 5px;
}

.save-note:hover {
    color: #72A697;
    background-color: #b8bebf3d;
}

/* VIDEO NOTE */

.add-video form {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

/* SEARCH VIDEO */

.add-video form input {
    font-family: montserrat;
    font-size: .95rem;
    border: 0px solid white;
    box-shadow: 0 2px 0 rgb(214, 211, 211);
    width: 200px;
}

/* SEARCH ICONS  */

.add-video form button {
    box-shadow: 0 2px 0 rgb(214, 211, 211);
}

.add-video img {
    width: 25px;
    height: 100%;
    object-fit: contain;
}

/* VIDEO RESULTS */

.video-res {
    padding: 2px;
    margin: 2px;
}

.mark-video {
    box-shadow: 2px 2px 6px 1px #BF6C3B
}

/* ADD TODO */

.add-todo h5 {
    margin-top: 0;
}

.todo-input {
    border: .5px solid #B8BEBF;
    font-family: montserrat;
    font-size: .9rem;
    margin-bottom: 10px;
}

.add-todo p {
    align-self: flex-end;
    margin: 0;
    margin-right: 8px;
    margin-bottom: 15px;
    font-size: .85rem;
    cursor: pointer;
}

/* IMG NOTE */

.add-img-note .show-img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    margin-bottom: 15px;
}

.link-icon {
    width: 25px;
    object-fit: contain;
}

.add-img-link {
    margin-bottom: 15px;
    width: 250px;
}

input[name="url"] {
    border: .5px solid #B8BEBF;
}