.pinned {
    border: 2px solid gray;
    margin-bottom: 50px;
    padding: 15px;
}

.note-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    column-count: 5;
    column-gap: 40px;
}

.note {
    display: inline-block;
    /* flex-direction: column; */
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    margin: 5px;
}

/* NOTE COLORS */

.white {
    background-color: #fff;
}

.red {
    background-color: #F28B81;
}

.orange {
    background-color: #FBBC05;
}

.yellow {
    background-color: #FFF475;
}

.green {
    background-color: #A7FFEB;
}

.blue {
    background-color: #AECBFA;
}

.purple {
    background-color: #D7AEFB;
}

.pink {
    background-color: #FDCFE8;
}

/* NOTE BUTTOMS */

.note:hover .note-buttoms {
    opacity: 1;
    transition: opacity .8s;
}

.note-buttoms {
    opacity: 0;
    transition: opacity .8s;
}

.done {
    text-decoration: line-through;
}