.mail-preview{
    background-color: white;
    border-bottom: 1px solid lightgrey;
    justify-content: space-between;
    font-weight: bold;
    color: rgb(57, 56, 56);
    font-size: 0.8rem;
}

.mail-preview:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 1;
    background-color: #b8bebf75;
}
.mail-preview a{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 13px;
}

.mail-readen{
    font-weight: unset;
}

.mail-preview.far fa-star:before{
    color: yellow;
}

.mail-preview .fa-star{
    color: grey;
}

.not-star img{
    fill: whitesmoke;
}

@media screen and (min-width: 700px) {
    .mail-preview{
        font-size: 0.85rem;
    }
  
}

/*desktop*/

@media screen and (min-width: 1200px) {
    .mail-preview{
        font-size: 1rem;
        padding: 0 24px;
    }
}