/* HEADER */

.main-header {
    height: 65px;
    margin-bottom: 40px;
}

.main-header .logo {
    padding-left: 10px;
}

.logo {
    height: 100%;
}

.logo img {
    width: 67px;
    border-radius: 10px;
    object-fit: contain;
}

/* MAIN NAV */

.main-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0 30px;
    padding-right: 50px;
    height: 100%;
}

.main-nav li {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.187rem;
    cursor: pointer;
}

.main-nav li:hover {
    color: white;
    box-shadow: inset 0px -5px 0 white;
}

.main-nav li a {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.main-nav li .active {
    color: white;
    box-shadow: inset 0px -5px 0 white;
}

/* MENU BUTTON */

.btn-menu-toggle {
    display: none;
}

/* RESPONSIVE */

/*tablet*/

@media screen and (min-width: 700px) {
    .logo {
        margin-left: 20px;
    }
}

/* Mobile  */

@media (max-width: 700px) {
    /* MAIN LAYOUT */
    /* .main-layout {
        max-width: 350px;
        margin: 0 auto;
    } */
    /* MAIN VAN */
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        min-width: 240px;
        height: 100vh;
        background-color: rgba(41, 41, 41, 0.9);
        box-shadow: 0px 0px 0px transparent;
        transform: translateX(100%);
        transition: transform .9s;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -8px 0px 20px rgb(0 0 0 / 20%);
    }
    .main-nav li {
        padding: 20px 0;
        width: 100%;
        height: 10%;
        text-align: center;
        font-size: 1.187rem;
        color: rgb(228, 219, 183);
        display: list-item;
    }
    .main-nav .active {
        color: rgb(255, 255, 255);
        box-shadow: inset 10px 0 0 rgba(255, 255, 255, 0.966)
    }
    /* MENU BUTTON */
    .btn-menu-toggle {
        display: block;
        border: 0px;
        color: white;
        font-size: 35px;
        padding-right: 25px;
    }
    /* Screen */
    .screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0 0 0 / 50%);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6s;
    }
    body.menu-open .screen {
        opacity: 1;
        pointer-events: auto;
    }
}