/* FOOTER */

footer {
    height: 206px;
    text-align: center;
}

footer p {
    color: white;
}

footer .logo {
    display: inline-block;
}

.main-footer{
    height: 15vh;
    justify-content: flex-end;
}