* {
    box-sizing: border-box;
}

/* BASE */

html {
    color: #3d3d3d;
    /* font-family: montserrat, serif; */
    font-family: Lato, serif;
    line-height: 1.875;
}

body {
    margin: 0 auto;
}

img {
    width: 100%;
}

a {
    color: #929292;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 1rem;
}

button, li {
    cursor: pointer;
}

/*mobile*/

.main-layout {
    max-width: 350px;
    margin: 0 auto;
}


/*tablet*/

@media screen and (min-width: 780px) {
    .main-layout {
        max-width: 700px;
    }
}

/*desktop*/

@media screen and (min-width: 1200px) {
    .main-layout {
        max-width: 1100px;
    }
}

