* {
    box-sizing: border-box;
}

/* BASE */

html {
    color: #3d3d3d;
    /* font-family: montserrat, serif; */
    font-family: Lato, serif;
    line-height: 1.875;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

a {
    color: #929292;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 1rem;
}

button, li {
    cursor: pointer;
}