* {
    box-sizing: border-box;
}

/* BASE */

html {
    /* color: #3d3d3d; */
    color: #012615;
    /* font-family: montserrat, serif; */
    font-family: Lato, serif;
    line-height: 1.875;
}

body {
    margin: 0 auto;
}

img {
    width: 100%;
}

a {
    color: #929292;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button, li {
    cursor: pointer;
}

/*mobile*/

.main-layout {
    max-width: 350px;
    margin: 0 auto;
}

/*tablet*/

@media screen and (min-width: 700px) {
    .main-layout {
        max-width: 650px;
    }
}

/*desktop*/

@media screen and (min-width: 1200px) {
    .main-layout {
        max-width: 1100px;
    }
}