/* FONTS */

@font-face {
    font-family: montserrat;
    src: url(../../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Brands;
    src: url(../../fonts/Brands/fa-brands-400.ttf);
}

@font-face {
    font-family: Icons;
    src: url(../../fonts/Brands/fa-solid-900.ttf);
}

@font-face {
    font-family: poppines-medium;
    src: url(../../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppines-semi-bold;
    src: url(../../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppines-light;
    src: url(../../fonts/Poppins/Poppins-Light.ttf);
}
