/* HELPERS */

/* THEME COLOR */

.theme-color {
    background-color: #548C7C;
}

/* flex helpers */

.flex {
    display: flex;
}

.flex.direction-col {
    flex-direction: column;
}

.flex.direction-row {
    flex-direction: row;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.grid {
    display: grid;
}

/* list-helpers */

.clean-list {
    padding-inline-start: 0px;
    margin: 0;
    list-style-type: none;
}

/* POINTER */

.pointer {
    cursor: pointer;
}

/*ANIMATION */

.home-animation:hover {
    -webkit-animation: rubberBand 1s;
    animation: rubberBand 1s;
}

/*BUTTONS*/

button {
    background-color: unset;
    border: unset;
}