.main-mail {
    display: flex;
    flex-direction: column;
}

.mail-criteria {
    text-align: center;
    margin: 10px;
}

.folders-nav a {
    flex-direction: unset;
    margin: 10px 5px;
}

.folders-nav div:hover {
    -webkit-animation: tada 1s;
    animation: tada 1s;
}

.folders {
    flex-direction: column;
    align-items: center;
}

.folders-nav div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.count-read {
    color: #605858;
    margin: 10px;
}

.search img {
    width: 20px;
    height: 18px;
    margin: -3px 5px;
}

.folders-nav img {
    width: 1.5rem;
}

.compose-btn {
    font-family: 'poppines-semi-bold';
    color: #dbe1e2;
    border-radius: 7px;
    width: 100px;
    font-size: 0.9rem;
    text-align: center;
    background-color: #bf6c3b;
    margin-top: 17px;
}

.compose-btn:hover {
    -webkit-animation: headShake 1s;
    animation: headShake 1s;
}

.mail-read {
    width: 15px;
}

@media screen and (min-width: 700px) {
    .main-mail {
        height: 60vh;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 50px 1fr;
        gap: 0 30px;
    }
    .mail-criteria {
        grid-row: 1;
        grid-column: 1/3;
    }
    .mail-list {
        grid-row: 2;
        grid-column: 2;
    }
    .folders {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .folders-nav a {
        margin: unset;
    }
    .folders-nav div {
        flex-direction: unset;
        gap: 15px;
    }
    .folders-nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .mail-criteria .display {
        margin: 0 20px;
    }
}

/*desktop*/

@media screen and (min-width: 1200px) {}